div {
	font-family: sans-serif;
}

.body {
	margin: auto;
	width: 80%;
}

.header {
	font-size: 30px;
	color: white;
	text-align: center;
	padding: 10px;
	background-color: black;
}

.footer {
	color: white;
	text-align: center;
	padding: 10px;
	background-color: black;
	clear: both;
}

.manage {
	float: left;
	width : 20%;
	height: 60px;
	background-color: lightblue;
	padding: 10px;
	padding-bottom: 20px;
}

.admin {
	float: left;
	width : 20%;
	height: 30px;
	background-color: lightred;
	padding: 10px;
	padding-bottom: 20px;
}

.navi {
	clear: left;
	float: left;
	width: 20%;
	height: 440px;
	background-color: lightgrey;
	padding: 10px;
}

.content {
	float: right;
	width: 75%;
	height: 440px;
	padding:10px;
}

.button {
	cursor: pointer;
	border: #cccccc solid;
  background: #cccccc;
  width: 75px;
  border-radius: 5px;
  font-size: 15px;
}