<!DOCTYPE html>
<html lang="en">

<head>
	<title>Conference Scheduler - Dash Board</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="body">
		<div class="header">
			<span style="font-size: 30px">Dash Board</span>
		</div>
		<div class="navi">
			{% if privilege > 1 %}<a href="/searchpage" style="display:block">Make Reservation</a>{% endif %}
			<a href="/preferencespage" style="display:block; margin-top:30px">User Profile</a>
			{% if privilege > 1%}<a href="/reservationspage" style="display:block; margin-top:30px">Reservation History</a>{% endif %}
			<a href="/" style="display:block; margin-top:30px">Log Out</a>
			{% if privilege > 2 %}<a href="/managementpage" style="display:block; margin-top:30px">Manage Users</a>{% endif %}
		</div>
		<div class="footer">
			<span>Group 1</span>
		</div>
	</div>
</body>
</html>