<!DOCTYPE html>
<html lang="en">

<head>
	<title>Conference Scheduler - Dash Board</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div style="margin: auto; width:40%; text-align: center; margin-top: 100px; border: 2px solid black; padding: 10px">
		<span style="font-size: 30px">Forgot Password</span>
		<form action="forgot" method="POST">
			<table align="center" style="margin-top :15px">
				<tr>
					<td>Username:</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td colspan="2"><button style="background-color:lightblue">Send Email</button></td>
				</tr>
				<tr>
					<td colspan="2"><a href="/index.html">Home</a></td>
				</tr>
			</table>
		</form>
		<span style="margin-top: 15px; display: block">Group 1</span>
	</div>
</body>
</html>