<!DOCTYPE html>
<html lang="en">

<head>
	<title>Conference Scheduler - My Reservations</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	<script type="text/javascript">
	  function fnConfirm()
	  {
	  	return confirm("Are you sure you want to delete it?");
	  }
	</script>
</head>

<body>
	<div class="body">
		<div class="header">
			<span style="font-size: 30px">Reservations</span>
		</div>{% if privilege > 3 %}
		<div class="admin">
			<a href="/adminpage" style="display:block;">Administrator Page</a>
		</div>
		{% endif %}
		{% if privilege > 2 %}
		<div class="manage">
			<a href="/managementpage" style="display:block;">Manage Users</a>
			<a href="/report" style="display:block; margin-top:30px">Report</a>
		</div>
		{% endif %}
		<div class="content">
			<span style="color: red; display: block">{{ notification }}</span>
			<span>Future Reservations</span>
			<table border="1">
				<tr>
					<td>Room No.</td>
					<td>From Date</td>
					<td>To Date</td>
					<td>Delete?</td>
					<td>Update</td>
				</tr>
				{% for R in FutureReservations %}
				<tr>
					<td>{{R[1]}}</td>
					<td>{{R[2]}}</td>
					<td>{{R[3]}}</td>
					<td><a href='/reservations/{{R[0]}}' onclick="return fnConfirm()">Delete</a></td>
					<td><a href='/manage/update/{{R[0]}}'>Update</a></td>
				</tr>
				{% endfor %}
			</table>
			<span>Current Reservations</span>
			<table border="1">
				<tr>
					<td>Room No.</td>
					<td>From Date</td>
					<td>To Date</td>
				</tr>
				{% for R in CurrentReservations %}
				<tr>
					<td>{{R[1]}}</td>
					<td>{{R[2]}}</td>
					<td>{{R[3]}}</td>
				</tr>
  			{% endfor %}
			</table>

			<span>Past Reservations</span>
			<table border="1">
				<tr>
					<td>Room No.</td>
					<td>From Date</td>
					<td>To Date</td>
					<td>Leave Feedback</td>
				</tr>
				{% for R in PastReservations %}
				<tr>
					<td>{{R[1]}}</td>
					<td>{{R[2]}}</td>
					<td>{{R[3]}}</td>
					<td><a href='/feedback/{{R[1]}}'>Leave Feedback</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="navi">
			{% if privilege > 1 %}<a href="/searchpage" style="display:block">Make Reservation</a>{% endif %}
			<a href="/preferencespage" style="display:block; margin-top:30px">User Profile</a>
			{% if privilege > 1 %}<a href="/reservationspage" style="display:block; margin-top:30px">Reservation History</a>{% endif %}
			<a href="/" style="display:block; margin-top:30px">Log Out</a>
		</div>
		<div class="footer">
			<span>Group 1</span>
		</div>
	</div>
</body>