<!DOCTYPE html>
<html lang="en">

<head>
	<title>Conference Scheduler</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="body">
		<div class="header">
			<span style="font-size: 30px">Manage Users</span>
		</div>
		<div class="navi">
			{% if privilege!=0 %}<a href="/searchpage" style="display:block">Make Reservation</a>{% endif %}
			<a href="/preferencespage" style="display:block; margin-top:30px">User Profile</a>
			{% if privilege!=0 %}<a href="/reservationspage" style="display:block; margin-top:30px">Reservation History</a>{% endif %}
			<a href="/" style="display:block; margin-top:30px">Log Out</a>
			{% if privilege==2 %}<a href="/managementpage" style="display:block; margin-top:30px">Manage Users</a>{% endif %}
		</div>
		<div class="content">
			<span style="display: block">Approve and Claim New Users</span>
			{% for nUser in newUsers %}
			<p>
				<a href='/manage/claim/{{nUser}}'>{{nUser}}</a>
			</p>
			{% endfor %}

			<div style="margin-top: 10px; border: 1px solid black; padding: 10px">
				<span>Manage My Users</span>
				{% for mUser in myUsers %}
				<p>
					{{mUser}}
				</p>
				{% endfor %}
			</div>
		</div>
		<div class="footer">
			<span>Group 1</span>
		</div>
	</div>
</body>
</html>