<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Conference Scheduler</title>
</head>
 
<body>
	<a href="/"><button style="background-color:lightcoral">Log Out</button></a>
	<a href="/dashboardpage"><button style="background-color:lightblue">Return</button></a>
	<h1>Profile</h1>
		{% for item in data %}
		<p>
		{{item[0]}}: {{item[1]}}
		</p>
		{% endfor %}
	<form action="changePassword" method="POST">
		New Password:<br>
	  	<input type="text" name="newpass">
	  	<br>
	  	Confirm New Password:<br>
	  	<input type="text" name="renewpass">
		<br>
		<button>Change Password</button>
	</form>
</body>
 
</html>