<!DOCTYPE html>
<html lang="en">

<head>
	<title>Conference Scheduler - Report</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<style>
		table td {
			padding: 5px;
		}
	</style>
</head>
<body>
	<div class="body">
		<div class="header">
			<span style="font-size: 30px">Report</span>
		</div>
		{% if privilege > 3 %}
		<div class="admin">
			<a href="/adminpage" style="display:block;">Administrator Page</a>
		</div>
		{% endif %}
		{% if privilege > 2 %}
		<div class="manage">
			<a href="/managementpage" style="display:block;">Manage Users</a>
			<a href="/report" style="display:block; margin-top:30px">Report</a>
		</div>
		{% endif %}
		<div class="content">
			<div>
				<table style="border: 1px solid black; border-collapse: collapse;" border="1">
					<tr>
						<td>Room</td>
						<td>From Datetime</td>
						<td>To Datetime</td>
						<td>Status</td>
						<td>Reservation Date</td>
						<td>Reserved by</td>
						<td>Remarks</td>
					</tr>
					{% for item in report %}
					<tr>
						<td>{{item[0]}}</td>
						<td>{{item[1]}}</td>
						<td>{{item[2]}}</td>
						<td>{{item[3]}}</td>
						<td>{{item[4]}}</td>
						<td>{{item[5]}}</td>
						<td>{{item[6]}}</td>
					</tr>
					{% endfor %}
				</table>
				<a href="/report"><button class="button">Back</button></a>
			</div>
		</div>
		<div class="navi">
			{% if privilege > 1 %}<a href="/searchpage" style="display:block">Make Reservation</a>{% endif %}
			<a href="/preferencespage" style="display:block; margin-top:30px">User Profile</a>
			{% if privilege > 1%}<a href="/reservationspage" style="display:block; margin-top:30px">Reservation History</a>{% endif %}
			<a href="/" style="display:block; margin-top:30px">Log Out</a>
		</div>
		<div class="footer">
			<span>Group 1</span>
		</div>
	</div>
</body>
</html>