<!DOCTYPE html>
<html lang="en">

<head>
	<title>Conference Scheduler - My Reservations</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" />
	<script type="text/javascript">
	  function fnConfirm()
	  {
	  	return confirm("Are you sure you want to delete it?");
	  }
	</script>
</head>

<body>
	<div class="body">
		<div class="header">
			<span style="font-size: 30px">Reservations</span>
		</div>
		<div class="navi">
			{% if privilege > 1 %}<a href="/searchpage" style="display:block">Make Reservation</a>{% endif %}
			<a href="/preferencespage" style="display:block; margin-top:30px">User Profile</a>
			{% if privilege > 1 %}<a href="/reservationspage" style="display:block; margin-top:30px">Reservation History</a>{% endif %}
			<a href="/" style="display:block; margin-top:30px">Log Out</a>
			{% if privilege > 2 %}<a href="/managementpage" style="display:block; margin-top:30px">Manage Users</a>{% endif %}
		</div>
		<div class="content">
			<span style="color: red; display: block">{{ notification }}</span>
			<span>My Reservations</span>
			<br>
			Click on reservation to delete it
			{% for item in reservations %}
			<p>
				<a href='/reservations/{{item[0]}}' onclick="javascript:fnConfirm()">Reservation for resource no. {{item[1]}} from {{item[2]}} to {{item[3]}}</a>
			</p>
			{% endfor %}
		</div>
		<div class="footer">
			<span>Group 1</span>
		</div>
	</div>
</body>