<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Conference Scheduler</title>
</head>

<body>
	<a href="/"><button style="background-color:lightcoral">Log Out</button></a>
	<a href="/dashboardpage"><button style="background-color:lightblue">Return</button></a>
	<h1>{{resourcetext[1]}} {{resourcetext[0]}} </h1>
	{% for item in children %}
	<p>
		{{item[0]}}
	</p>
	{% endfor %}
	
	<br>
	<br>
	<br>
	
	<h2>Reserve</h2>
	<h4>{{date}}</h4>
	
	<form action="reserve" method="POST">
	
		
		<p>Times Reserved</p>
		<ul>
		{% for x in items %}
			<li>{{x}}</li>
		{% endfor %}
		</ul>
		<br>
		Start time:<br>
		<input type="time" name="starttime">
		<br>
		End time:<br>
		<input type="time" name="endtime">
		<br>
		<button>Reserve</button>
	
	</form>
</body>