<!DOCTYPE html>
<html lang="en">

<head>
	<title>Conference Scheduler - Rooms</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="body">
		<div class="header">
			<span style="font-size: 30px">Rooms</span>
		</div>
		{% if privilege > 3 %}
		<div class="admin">
			<a href="/adminpage" style="display:block; margin-top:30px">Administrator Page</a>
		</div>
		{% endif %}
		{% if privilege > 2 %}
		<div class="manage">
			<a href="/managementpage" style="display:block;">Manage Users</a>
			<a href="/report" style="display:block; margin-top:30px">Report</a>
		</div>
		{% endif %}
		<div class="content">
			<span>{{building[0]}}</span>
			{% for item in rooms %}
			<p>
				<a href='/rooms/{{item[1]}}'>{{item[0]}}</a>
			</p>
			{% endfor %}
		</div>
		<div class="navi">
			{% if privilege > 1 %}<a href="/searchpage" style="display:block">Make Reservation</a>{% endif %}
			<a href="/preferencespage" style="display:block; margin-top:30px">User Profile</a>
			{% if privilege > 1 %}<a href="/reservationspage" style="display:block; margin-top:30px">Reservation History</a>{% endif %}
			<a href="/" style="display:block; margin-top:30px">Log Out</a>
		</div>
		<div class="footer">
			<span>Group 1</span>
		</div>
	</div>
</body>