<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Conference Scheduler</title>
</head>
 
<body>
	<a href="/"><button style="background-color:lightcoral">Log Out</button></a>
	<a href="/dashboardpage"><button style="background-color:lightblue">Return</button></a>
	<br>
 	<h1>Search</h1>
	<form action="search" method="POST">
		Building:<br>
		<select name="building">
			{% for item in buildings %}
			<option value="{{item[0]}}">{{item[1]}}</option>
			{% endfor %}
		</select>
	  	<br>
	  	Date:<br>
	  	<input type="date" name="date">
		<button>Search</button>

	<h1>Required Resources</h1>
	{% for item in resourceTypes[1:] %}
	<div class="checkbox">
	<label>
    <input type="checkbox" name="rescType {{item[0]}}" value="True"> {{item[1]}}
	</label>
	</div>
	{% endfor %}
	</form>
</body>

</html>