<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Conference Scheduler</title>
</head>
 
<body>
	<a href="/dashboardpage"><button style="background-color:lightblue">Return</button></a>
	<br>
 	<h1>Search</h1>
	<form action="search" method="POST">
		Building:<br>
	  	<input type="text" name="building">
	  	<br>
	  	Date:<br>
	  	<input type="text" name="date" value="YYYY/MM/DD">
		<br>
		Room: (Optional)<br>
		<input type="text" name="room">
		<br>
		<button>Search</button>
	</form>

	<h1>Required Resources</h1>
	{% for item in resourceTypes %}
	<div class="checkbox">
	<label>
    <input type="checkbox" name="rescType {{item[0]}}" value="edit"> {{item[1]}}
	</label>
	</div>
	{% endfor %}
</body>



</html>