<!DOCTYPE html>
<html lang="en">

<head>
	<title>Conference Scheduler - Search</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
	<div class="body">
		<div class="header">
			<span>Search</span>
		</div>
		<div class="navi">
			{% if privilege!=0 %}<a href="/searchpage" style="display:block">Make Reservation</a>{% endif %}
			<a href="/preferencespage" style="display:block; margin-top:30px">User Profile</a>
			{% if privilege!=0 %}<a href="/reservationspage" style="display:block; margin-top:30px">Reservation History</a>{% endif %}
			<a href="/" style="display:block; margin-top:30px">Log Out</a>
			{% if privilege==2 %}<a href="/managementpage" style="display:block; margin-top:30px">Manage Users</a>{% endif %}
		</div>
		<div class="content">
			<font color="red">{{ notification }}</font>
			<form action="search" method="POST">
				<div>
					<div style="float: left; width: 40%">
						Building:
						<select name="building">
							{% for item in buildings %}
							<option value="{{item[0]}}">{{item[1]}}</option>
							{% endfor %}
						</select>
						<br>
						Date:
						<input type="date" name="date">
					</div>
					<div style="float: right; width: 60%">
						Required Resources:
						{% for item in resourceTypes[1:] %}
						<div class="checkbox" style="border: 1px black">
							<label>
								<input type="checkbox" name="rescType {{item[0]}}" value="True"> {{item[1]}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<button class="button">Search</button>
				<button class="button">Reset</button>
			</form>
		</div>
		<div class="footer">
			<span>Group 1</span>
		</div>
	</div> 	
</body>

</html>