<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Conference Schedular</title>
</head>
 
<body>
 	
	<h1>Sign Up</h1>
	
    <form>
		First name:<br>
  		<input type="text" name="firstname">
  		<br>
		Middle name:<br>
  		<input type="text" name="middlename">
  		<br>
  		Last name:<br>
		<input type="text" name="lastname">
		<br>
		Username:<br>
		<input type="text" name="username">
		<br>
		Password:<br>
		<input type="text" name="password">
		<br>
		Re-enter Password:<br>
		<input type="text" name="passwordconfirmation">
		<br>
		Email:<br>
		<input type="text" name="email">
		<br>
		Phone Number:<br>
		<input type="text" name="phone">
	</form>

	<a href="/signup"><button>Sign Up</button></a>
	<a href="/"><button>Sign In</button></a>
</body>
 
</html>